*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("pic/home.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header h1{
    color: #fff;
}


.mid{
    width: 500px;
    color: #fff;
    text-align: center;
    justify-content: left;
}

.mid h1{
    text-shadow: 2px 2px 10px #555;
    color: #000;
    font-size: 90px;
    margin-top: 5%;
    letter-spacing: 2px;
}

.mid p{
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.form{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    padding: 25px;
    background: transparent;
    box-shadow: rgba(17, 17, 26, 0.5) 0px 4px 16px, 
                rgba(17, 17, 26, 0.5) 0px 8px 24px, 
                rgba(17, 17, 26, 0.5) 0px 16px 56px;
    margin-left: 20%;
    
}

.form h2{
    width: 200px;
    text-align: center;
    font-size: 28px;
    color: #000;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form input{
    width: 300px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;

}

.form input:focus{
    outline: none;
}

.form p{
    font-weight: 400;
    color: #000;
    margin-top: 30px;
    text-align: center;
}

.form p a{
    font-weight: 600;
    color: #000;
    transition: .5s;
}

.form p a:hover{
    font-size: 18px;
}

.form1{
    width: 350px;
    height: 530px;
    border-radius: 20px;
    padding: 25px;
    background: transparent;
    box-shadow: rgba(17, 17, 26, 0.5) 0px 4px 16px, 
                rgba(17, 17, 26, 0.5) 0px 8px 24px, 
                rgba(17, 17, 26, 0.5) 0px 16px 56px;
    margin-left: 20%;
    
}

.form1 h2{
    width: 200px;
    text-align: center;
    font-size: 28px;
    color: #000;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form1 input{
    width: 300px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;

}

.form1 input:focus{
    outline: none;
}

.form1 p{
    color: #000;
    margin-top: 30px;
    text-align: center;
}

.form1 p a{
    font-weight: 600;
    color: #000;
    transition: .5s;
}

.form1 p a:hover{
    font-size: 18px;
}

::placeholder{
    color: #000;
}

.btnn{
    margin-left: 50px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    width: 200px;
    height: 35px;
    background: #000000d7;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
    border: none;
    
}

.btnn:hover{
    color: #000;
    background: transparent;
    border: none;
    box-shadow: rgb(0, 0, 0) 0 1px 20px;
    transition-duration: .1s;
}

.error h3{
    text-align: center;
    margin-top: 20px;
    color: #ff0000;
    text-shadow: 0 0 10px #ffffff;
}




