*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    background-position: center;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: #000;
    box-shadow: rgb(255, 255, 255) 0 1px 20px;
}

header h1{
    color: #fff;
}


.top{
    position: relative;
    left: 295px;
    display: flex; /* ใช้ Flexbox เพื่อจัดหน้าตา */
    justify-content: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}


.top a{
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}

.top a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;

}

.top a:hover::after{
    transform: scaleX(1);
}

.btnn{
    color: #ffffff;
    text-align: center;
    width: 120px;
    height: 40px;
    background: #ffffff;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
    border: none;
    position: absolute;
    top: 24px;
    right: 100px;
    
}

.btnn:hover{
    color: #000;
    background: #fff;
    border: none;
    box-shadow: rgb(255, 255, 255) 0 1px 20px;
    transition-duration: .1s;
}

.btnn a{
    color: #000;
    text-decoration: none;
}

.content{
    min-width: 80%;
    margin-top: 150px;
}

.content .box1{
    color: #fff;
    text-align: center;
    background-size: cover;
    height: 400px;
    background: #00000086;
    background-size: cover;
}

.content .box2{
    margin-top: 50px;
    text-align: center;
    background-size: cover;
    height: 300px;
    background: #ffffff86;
    background-size: cover;
}

.profile_box {
    color: #000;
    text-align: center;
    width: 120px;
    height: 40px;
    background: #ffffff;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
    border: none;
    position: absolute;
    top: -20px; /* ปรับตำแหน่งของปุ่มด้านบน */
    right: 140px; /* ปรับตำแหน่งของปุ่มด้านขวา */

}


.profile_box a{
    text-decoration: none;
}
.profile {
    position: relative;
}

.profile_checkbox {
    display: none;
}

.profile_button {
    cursor: pointer;
    position: relative;
}


.options_icon:hover,
.options_icon:focus {
    color: #3e454b;
    background: transparent;
    border: none;
    box-shadow: rgb(255, 255, 255) 0 1px 20px;
    transition-duration: 0.5s;
}




.options_menu {
    display: none;
    position: absolute;
    top: 100%;
    right: -20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile_checkbox:checked + .profile_button .options_menu {
    display: block;
}

.options_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options_menu li {
    padding: 10px;
    text-align: center;
}



.options_menu a {
    text-decoration: none;
    color: #333;
    display: block;
}

.options_menu a:hover,
.options_icon:focus {
    color: #6e6a6a;
    background: transparent;
    border: none;
    box-shadow: rgb(83, 81, 81) 0 1px 20px;
    transition-duration: 0.4s;
    background-color: #000000;
}



.main-hr {
    width: 30%;
    border: none;
    border-top: 1px solid #c3c3c3;
  }
  
  .icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
  }



  button.icon-btn.add-btn {
    position: relative; /* ตั้งค่าให้มีตำแหน่งแบบสัมพันธ์ */
    left: 250px; /* ขยับไปทางขวา 20px */
}


  .add-btn:hover {
    width: 120px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: red;
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }


  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: red;
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }


.bgmain {
    width: 800px;
    margin: 2rem;
    height: 2000px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    border-radius: none;
    position: relative;
    background-color: #fff;
}
.main {
    width: 600px;
    margin: 2rem auto;
    height: 545px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    position: relative;
    transform: translateY(-550px); /* ขยับขึ้นไปข้างบน 20px */

  }


.tag {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background: tomato;
  padding: .5rem 2rem;
  border-radius: 5px;
  color: #fff;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}

.img {
  height: 400px;
  background: yellow;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
}

.img img {
  width: 100%;
  height: 100%; /* เพิ่มบรรทัดนี้เพื่อให้รูปมีความสูงเท่ากับกล่อง */
  object-fit: cover; /* ให้รูปภาพครอบคลุมพื้นที่ในกล่อง */
}


.content {
  height: 250px;
  min-width: 150px;
  margin-top: 0px;
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #6e6a6a;
}

.content h3 {
  border-bottom: 1px solid #e5e5e5;
}

.center h1 {
  font-size: 18px;
}
.content h1 {
  margin: 1rem 0;
}
.content p {
  color: #c3c3c3;
}

.footer{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 25px;
}

.ft-l{
  display: flex;
  align-items: center;
  padding-left: 1rem ;
}
.ft-l img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.ft-r {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

/* สไตล์สำหรับ button ที่มีคลาส "cmicon" */
.cmicon {
  display: flex;
  align-items: center;
  background-color: #bcbfc2; /* สีพื้นหลังของปุ่ม */
  color: #fff; /* สีข้อความภายในปุ่ม */
  padding: 3px 2px; /* ขนาดของปุ่ม */
  border: none; /* ไม่มีเส้นขอบ */
  cursor: pointer; /* เปลี่ยนรูปลูกศรเมื่อผู้ใช้ชี้ที่ปุ่ม */
  border-radius: 10px; /* ขอบมนของปุ่ม */
  margin-left: 10px;
}

/* สไตล์สำหรับ icon ที่มีคลาส "fa" และ "fa-comment-o" */
.fa.fa-comment-o {
  margin-right: 1px; /* ระยะห่างด้านขวาของไอคอนจากข้อความ */
  margin-left: 1px;
}

.cmicon::before {
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-out;
}
.cmicon .fa.fa-comment-o {
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.2s;
}  
.cmicon .fa.fa-comment-o:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
}


.commentsec {
    display: flex;
    align-items: center;
    width: 600px;
    margin: 2rem auto;
    height: 250px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    transform: translateY(-115px); /* ขยับขึ้นไปข้างบน 20px */
    margin-top: 150px;
    padding: 25px;
    flex-direction: column;
  }

.commentsec h1 {
    font-size: 18px;
}


.commentpost {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 250px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    transform: translateY(35px); /* ขยับขึ้นไปข้างบน 20px */
    padding: 25px;
    flex-direction: column;
}

.usercom {
  position: absolute; /* ตั้งค่าให้องค์ประกอบมีตำแหน่งแบบ absolute */
  top: 20px; /* ตั้งค่าค่า top เป็น 0 เพื่อขยับไปที่มุมบนซ้าย */
  left: 20px; /* ตั้งค่าค่า left เป็น 0 เพื่อขยับไปที่มุมบนซ้าย */
  
}


.usernamecom h2 img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}